# Server options
server.name = charlie
server.port = 1337
server.logfile = bithorde.log
server.unixsocket = /tmp/bithorde
server.cachedir = .

# Cache size-limit, In MegaBytes. (0 means unlimited, NOT RECOMMENED)
server.cachesize = 32768  

# Run foreground?
server.debug = false

# My friends
friend.john.addr = john.myip.net:1337
friend.lisa.addr = 123.124.125.126:29687
