 ##### Server options #####
[server]

# The name of this node. Defaults to short hostname
# name = charlie

# TCP-port of this node. Set to 0 to disable
# tcpPort = 1337

# Destination of Unix-socket
# unixSocket = /var/run/bithorde/socket

# Permissions for the created unixSocket
# unixPerms = 0666

# HTTP daemon inspection port. Set to 0 to disable.
inspectPort = 5000

# The number of parallel background threads used for asynchronous tasks.
# Defaults to the number of available CPU cores, which should be suitable
# for most systems.
# parallel = 8

##### Storage options #####

# Define root-directories for asset source folders. BitHorde needs write-access
# to the  provided root directories, where it creates a directory ".bh_meta".
# Multiple directories can be added by repeating the group with different names

#[source.a]
#root = /tmp/a

#[source.b]
#root = /tmp/b

#[cache]
# Comment out if caching should be disabled.
#dir = /var/lib/bithorde
# Max size of the cache, in MB
#size = 8192

##### Friend options #####

# Define friends to connect to. It is important that the nickname you assign
# your friend is matches the nodename configured by the friend.
# In addr, the port can be omitted and will then be defaulted to 1337
# a cipher can be selected for encryption. Must be one of (CLEARTEXT, PLAIN), (ARC4, RC4) or AES.
# key must be a base64-coded key of a size suitable for the selected cipher.
# to generate a 128-bit key, one can `dd if=/dev/urandom bs=16 count=1  | base64`

#[friend.johndoe]
#addr = example.com:1337
#cipher = AES
#key = WG4sQsLKJWcxdcetl7oanA==

# Demo friend node
[friend.demo]
addr = demo.bithorde.org:3337
