##### Server options #####

# The name of this node
server.name = charlie

# TCP-port of this node
server.port = 1337

# HTTP-port of for management-interface. (0 to turn off)
server.httpport = 4000

# Log destination
server.logfile = /var/log/bithorde

# Desination of Unix-socket
server.unixsocket = /tmp/bithorde

# Running with specific privileges
server.setuid = bithorde
server.setgid = nogroup

# Cache-directory
server.cachedir = /var/cache/bithorde

# Cache size-limit, In MegaBytes. (0 means unlimited, NOT usually recommended)
server.cachesize = 32768

# Use fsync to really flush data to disk?
#   Cache will less likely be corrupted by disk-failure, but may result in jumpy
#   performance, depending on filesystem and other I/O-load.
# Default: false
server.usefsync = false

# Run foreground?
server.debug = false

##### Friends #####
# Note: Addresses are only used when trying to connect to friend.
# If they are behind nat or firewall, just pick any address not likely to 
# respond, and they will (hopefully) connect to you instead.
friend.john.addr = john.myip.net:1337
friend.lisa.addr = 123.124.125.126:29687

# Note: BitHorde has no connection-authentication yet.
# Clients connecting with unknown names will be considered clients.

