##### Server options #####

# The name of this node
server.name = charlie

# TCP-port of this node
server.port = 1337

# HTTP-port of for management-interface. (0 to turn off)
server.httpport = 4000

# Log destination
server.logfile = /var/log/bithorde

# Desination of Unix-socket
server.unixsocket = /tmp/bithorde

# Running with specific privileges
server.setuid = bithorde
server.setgid = nogroup

# Cache-directory
server.cachedir = /var/cache/bithorde

# Cache size-limit, In MegaBytes. (0 means unlimited, NOT usually recommended)
server.cachesize = 32768

# Allow non-authenticated connections?
# Note: local connections, both unix-connections and ip-connections to 127.0.0.1
#       are always allowed without authentication. Also, friends configured
#       without key is allowed unauthenticated access.
# Default: false
server.allowanon = true

# Use fsync to really flush data to disk?
#   Cache will less likely be corrupted by disk-failure, but may result in jumpy
#   performance, depending on filesystem and other I/O-load.
# Default: false
server.usefsync = false

# Run foreground?
server.debug = false

##### Friends #####
# Note: Addresses are only used when trying to connect to friend.
# If they are behind nat or firewall, just pick any address not likely to 
# respond, and they will (hopefully) connect to you instead.
friend.john.addr = john.myip.net:1337
friend.lisa.addr = 123.124.125.126:29687

# Base64-Key used for authenticating peer, and for encrypting the transmission.
# Generate using "dd if=/dev/random bs=16 count=1 | base64"
#  (if nothing is returned, try moving the mouse for a while)
# Key must be communicated with other side in advance
friend.lisa.key = viixBAg33B1zV9stozV45A==

# Select cipher for transmission.
# Options are:
#   CLEARTEXT (NONE, CLEAR): use key merely for authentication (if specified)
#   XOR: fastest, but insecure. Pure obfuscation, no real security.
#   RC4 (ARC4, ARCFOUR): moderately secure, but has known weaknesses.
#   AES (AES_CTR): 128-bit AES. Slowest/most CPU-intensive, but very secure.
# Default: RC4 (if key is specified, otherwise NONE)
friend.lisa.sendCipher = RC4
