[Unit]
Description=BHFuse daemon
Wants=network.target
Wants=bithorded-unix.socket
After=bithorded-unix.socket

[Service]
ExecStartPre=/usr/lib/bhfuse/bhfuse.umount
ExecStartPre=-/usr/bin/install -d -onobody -gnogroup -m755 /tmp/bhfuse
ExecStart=/usr/bin/bhfuse --timeout=500 /tmp/bhfuse
ExecStopPost=/usr/lib/bhfuse/bhfuse.umount
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
