#!/bin/bash

# Source debconf library.
set -e
. /usr/share/debconf/confmodule

# Load config file, if it exists.
CONFIGFILE="/etc/bithorde.conf"
if [ -e $CONFIGFILE ]; then
    NODENAME=$(gawk 'match($0, /server.name[[:space:]=]+([[:alnum:]]+)/, m) {print m[1]}' $CONFIGFILE)
    CACHESIZE=$(gawk 'match($0, /server.cachesize[[:space:]=]+([[:digit:]]+)/, m) {print substr(m[1], 1, length(m[1])-3)}' $CONFIGFILE)

    # Store values from config file into
    # debconf db.
    db_set 'bithorde/nodename' "$NODENAME"
    db_set 'bithorde/cachesize' "$CACHESIZE"
fi


db_input critical 'bithorde/nodename'
db_input critical 'bithorde/cachesize'
db_input critical 'bithorde/done' || true
db_go || true

