#!/bin/bash

# Source debconf library.
. /usr/share/debconf/confmodule

db_input critical bithorde/nodename || true
db_input critical bithorde/cachesize || true
db_input critical bithorde/done || true
db_go || true

db_get bithorde/nodename
NODENAME="$RET"
db_get bithorde/cachesize
CACHESIZE="$RET"

# Update base-settings in config
sed -r -i.bak -e "s/^(server.name\\s*=).*/\\1 $NODENAME/" -e "s/(server.cachesize\\s*=).*/\\1 $CACHESIZE"000"/" /etc/bithorde.conf

