#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

export DEB_BUILD_OPTIONS=nostrip

%:
	dh --with systemd --with apport $@

override_dh_auto_configure:
	dh_auto_configure -- -DCONF_INSTALL_DIR="/etc" -DPyHorde_INSTALL_DIR="/usr/share/pyshared"

override_dh_installinit:
	dh_installinit -p bithorded --restart-after-upgrade
	dh_installinit -p bithorded --name bithorded-tcp
	dh_installinit -p bithorded --name bithorded-unix
	dh_installinit -p bhfuse --no-restart-on-upgrade

override_dh_systemd_enable:
	dh_systemd_enable -p bithorded --no-enable bithorded.service
	dh_systemd_enable -p bithorded --name bithorded-tcp
	dh_systemd_enable -p bithorded --name bithorded-unix
	dh_systemd_enable -p bhfuse bhfuse.service

override_dh_systemd_start:
	dh_systemd_start -p bithorded bithorded-tcp.socket bithorded-unix.socket
	dh_systemd_start -p bhfuse --no-restart-on-upgrade

override_dh_auto_test:
	dh_auto_test -- 'ARGS=-V'
